<footer class="footer">
    <div class="main">
      <div class="menu__logo">
        <div class=" logo-inside"></div>
      </div>
        <ul >
          <li><span>
              Products</span>
          </li>
          <li><a href="#">Headphones</a></li>
          <li><a href="#">Earphones</a></li>
          <li><a href="#">Speakers</a></li>
          <li><a href="#">Accesorries</a></li>
          <li><a href="#">Collaborations</a></li>
          <li><a href="#">Bestaudio</a></li>
          <li><a href="#">Special offers</a></li>
        </ul>
        <ul>
          <li><span>
              Support</span>
          </li>
          <li><a href="#">product help</a></li>
          <li><a href="#">service & warranty</a></li>
          <li><a href="#">register your beats</a></li>
          <li><a href="#">update your beats</a></li>
          <li><a href="#">authorized service providers</a></li>
          <li><a href="#">contact support</a></li>
          <li><a href="#">international numbers</a></li>
        </ul>
        <ul>
          <li><span>
              Company</span>
          </li>
          <li><a href="#">product help</a></li>
          <li><a href="#">news and events</a></li>
          <li><a href="#">promotion terms</a></li>
          <li><a href="#">privacy policy</a></li>
          <li><a href="#">trademark</a></li>
          <li><a href="#">terms of use</a></li>
          <li><a href="#">cookies</a></li>
        </ul>
      <div class="footer__follow">
        <p>Follow us</p>
        <div class="footer__img"></div>
      </div>
    </div>
    <div class="footer__info">
      <span>Copyright © 2020 Apple Inc. - All rights reserved.</span>
    </div>
  </footer>
