<header>
  <div class="menu">
    <div class="menu__lines">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div class="menu__logo">
      <img src="/src/images/page1.png">
    </div>
    <div class="menu__navigation">
      <a href='/src/page-about/tmpl.html'>HEADPHONES</a>
      <a href='#'>EARPHONES</a>
      <a href='#'>SPEAKERS</a>
      <a href='#'>EXPLORE</a>
    </div>
    <div class="menu__icons">
      <img src="../images/Fill.png" class="icon-find">
      <img src="../images/Shape.png" class="person-icon">
      <img src="../images/Shape1.png" class="buy-icon">
    </div>
    </div>
  </img>
</header>
