<nav class="menu">
  <div class="menu__logo">
    <div class=" logo-inside"></div>
  </div>
  <div class="menu__navigation">
    <a class="pad" href='#'>HEADPHONES</a>
    <a class="pad" href='#'>EARPHONES</a>
    <a class="pad" href='#'>SPEAKERS</a>
    <a href='#'>EXPLORE</a></div>
  </div>
  <div class="menu__icons">
    <img src="../images/Fill.png" class="icon-find">
    <img src="../images/Shape.png" class="buy-icon">
    <img src="../images/Shape1.png" class="person-icon">
  </div>
</nav>
