<div class="menu">
  <div class="menu__logo">
    <div class=" logo-inside"></div>
  </div>
  <div class="menu__navigation">

    <div class="menu__navigation headphones">HEADPHONES</div>
    <div class="menu__navigation earphones">EARPHONES</div>
    <div class="menu__navigation speakers">SPEAKERS</div>
    <div class="menu__navigation explore">EXPLORE</div>

  </div>
  <div class="menu__icons">
    <img src="../images/Path.png" class="icon-find">
    <img src="../images/Shape.png" class="buy-icon">
    <img src="../images/Shape1.png" class="person-icon">
  </div>
</div>
</div>
