.footer {
    background: #2B2835;

    li {
        list-style-type: none;

        a {
            font-weight: 300;
        }
    }

    p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 31px;
        color: #FFFFFF;
    }

    .main {

        display: flex;
        align-items: flex-start;
        justify-content: space-around;

        a {
            text-decoration: none;
            text-transform: uppercase;
        }

        li {
            text-decoration: none;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
        }

        span {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 31px;
            color: #FFFFFF;
        }
    }

    &__logo {

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__follow {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 31px;
        color: #FFFFFF;
    }

    &__info {
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.31;

        &__icons {
            display: flex;

            .inst-icon {
                margin-right: 14px;
            }

            .face-icon {
                margin-right: 14px;
            }

            .twit-icon {
                margin-right: 14px;
            }
        }
    }


}

@media (max-width:768px) {
    .footer {
        .main {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            ul {
                margin-left: -35px;
            }

            .visual {
                text-align: center;
            }

            .hidden li {
                a {
                    display: none;
                }

                text-align: center;
            }
        }

        &__follow {
            text-align: center;
        }

        &__info {
            display: none;
        }
    }
}