.footer {
    background: #2B2835;

    li {
        list-style-type: none;

        a {
            font-weight: 300;
        }
    }

    p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 31px;
        color: #FFFFFF;
    }

    .main {
        margin-left: 135px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        a {
            text-decoration: none;
        }

        li {
            text-transform: uppercase;
            text-decoration: none;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
        }

        span {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 31px;
            color: #FFFFFF;
        }
    }

    &__logo {

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__follow {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 31px;
        color: #FFFFFF;
    }

    &__info {
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.31;

        &__icons {
            display: flex;

            .inst-icon {
                margin-right: 14px;
            }

            .face-icon {
                margin-right: 14px;
            }

            .twit-icon {
                margin-right: 14px;
            }
        }
    }


}

@media (max-width:768px) {
    .footer {
        .main {
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-areas: "header header header header header"
                "support support support support support"
                "company company company company company"
                "follow follow follow follow follow";
        }

        ul .hidden {
            display: none;
        }

        ul .visual {}

        &__logo {}

        &__follow {}

        &__info {}

    }
}