.menu {
  position: absolute;
  background: #191720;
  mix-blend-mode: normal;
  opacity: 0.47;
  display: flex;
  align-items: center;
  height: 78px;
  justify-content: space-around;
  width: 100%;
  &__lines {
    display: none;
  }

  &__navigation {
    display: flex;

    a {
      text-decoration: none;
      color: #FFFFFF;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 1.90909px;
      margin: 0 45px;
    }
  }

  &__logo {
    width: 49.87px;
    height: 49.87px;
    background: url(../images/page1.png);
    margin-left: 94px;
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon-find {
      width: 25px;
      height: 25px;
      margin-right: 47px;
    }

    .person-icon {
      width: 25px;
      height: 25px;
      margin-right: 47px;
    }

    .buy-icon {
      width: 25px;
      height: 25px;
    }
  }

}

@media (max-width:768px) {
  .menu {
    height: 40px;
    justify-content:flex-start;

    &__lines {
      display: flex;
      flex-direction: column;
      margin-left: 21px;

      .line {
        height: 2px;
        width: 16px;
        background: #FFFFFF;
        margin-bottom: 3px;
      }
    }

    &__logo {
      width: 27px;
      height: 27px;
      background: url(../images/Page.png);
      margin-right: 200px;
    }

    &__navigation {
      display: none;
    }

    &__icons {
      .icon-find {
        display: none;
      }

      .person-icon {
        width: 22px;
        height: 22px;
      }

      .buy-icon {
        width: 22px;
        height: 20px;
      }
    }
  }
}