body {
    background: #F2F2F2;
}

.container {
    height: 616px;
    background: #2B2835;
    display: flex;
    align-items: center;

    .container__image {
        align-self: flex-start;
    }

    .container__content1 {

        .container__content1_description-name {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 1px;
            color: #FFFFFF;
        }

        .container__content1_description-content {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 43px;
            color: #FFFFFF;
        }

        .container__content1_description-price {
            display: flex;
            align-items: center;

            .price {
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 40px;
                line-height: 49px;
                color: #F2F2F2;
                margin-right: 34px;
            }

            .round-btn1 {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
                border: none;
                background: #00B0FF;
                background: #00B0FF;
                border-radius: 100px;
                padding: 11px 48px 13px 48px;

            }
        }

        .container__content1_description-footer {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            color: #00B0FF;
        }
    }

}

@media (max-width:768px) {
    .container {
        flex-direction: column;
        height: 70vw;

        &__image {
            flex: 0 0 33.33%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__content1 {
            background: #F2F2F2;
            padding-left: 19px;

            & div p {
                color: #000000;
            }
        }

    }
}

.container1 {
    display: flex;
    align-items: center;

    .container1__image {
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        ul {
            list-style-type: none;

            li {
                text-decoration: none;
            }
        }

        .container1__slider {
            position: absolute;
            left: 348px;
            top: 614px;
            width: 59px;
            height: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            .slider-photo1 {
                width: 10px;
                height: 10px;
                background: #000000;
                margin-right: 15px;
                border: none;
                border-radius: 100px;
            }

            .slider-photo2 {
                width: 10px;
                height: 10px;
                background: #D1D1D1;
                margin-right: 15px;
                border: none;
                border-radius: 100px;
            }

            .slider-photo3 {
                width: 10px;
                height: 10px;
                background: #D1D1D1;
                border: none;
                border-radius: 100px;
            }
        }
    }





    .container1__content1 {
        margin: 89px 67px 0 96px;

        ul {
            list-style-type: none;

            li {
                text-decoration: none;
            }
        }

        .content__ovals {
            display: flex;
            align-items: center;

            .ovals__ov1 {
                width: 46px;
                height: 46px;
                border: 1px solid #000000;
                box-sizing: border-box;
                border-radius: 100px;
                margin-right: 14px;
                position: relative;

                .ovals__ov1_inside {
                    position: absolute;
                    width: 37px;
                    height: 37px;
                    background: #FFFFFF;
                    border: 1px solid #EAEAEA;
                    box-sizing: border-box;
                    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.135817);
                    border-radius: 100px;
                    margin: 3.2px 0 0 3.2px;
                }
            }

            .ovals__ov2 {
                width: 37px;
                height: 37px;
                background: #DD5656;
                border: 1px solid #EAEAEA;
                box-sizing: border-box;
                box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.135817);
                border-radius: 100px;
                margin-right: 13px;
            }

            .ovals__ov3 {
                width: 37px;
                height: 37px;
                background: #000000;
                border: 1px solid #EAEAEA;
                box-sizing: border-box;
                box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.135817);
                border-radius: 100px;
            }
        }

        .content__name {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #2B2835;
        }

        .content__header {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            line-height: 55px;
            color: #2B2835;
        }

        .content__available {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 55px;
            color: #2B2835;
        }

        .content__find {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #2B2835;
        }

        .content__price {
            display: flex;
            align-items: center;

            .price {
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 40px;
                line-height: 49px;
                color: #000000;
            }

            .round-btn2 {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
                margin-left: 43px;
                padding: 12px 15px;
                border: none;
                background: #000000;
                border-radius: 100px;
            }
        }

        .content__footer {
            color: #000000;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            mix-blend-mode: normal;
            opacity: 0.52;
        }
    }
}

@media (max-width:768px) {
    .container1 {
        flex-direction: column-reverse;
        padding-left: 19px;
        margin-top: 400px;


        .container1__image {

            .container1__slider {
                display: none;
            }
        }

        .container1__content1 {
            margin: -89px -67px 0 -96px
        }
    }
}

.container2 {
    display: flex;
    align-items: center;
    background: url(../images/Fon.png);
    background-size: cover;

    .container2__image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .container2__text {
        font-family: Montserrat;

        .container2__text_begin {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #F8F8F9;
        }

        .container2__text_header {
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            line-height: 55px;
            text-transform: uppercase;
            color: #F8F8F9;
        }

        .container2__text_description {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 27px;
            color: #F8F8F9;
        }

        .container2__text_price {
            display: flex;
            align-items: center;

            .price {
                font-style: normal;
                font-weight: normal;
                font-size: 40px;
                line-height: 49px;
                color: #FFFF00;
            }

            .round-btn3 {
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                background: #000000;
                border-radius: 100px;
                color: #FFFFFF;
                margin-left: 41px;
                padding: 10px 48px 14px 48px;
                border: none;
            }
        }

        .container2__text_footer {
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            color: #FFFFFF;
        }
    }
}

@media (max-width:768px) {
    .container2 {
        flex-direction: column;
        padding-left: 19px;

        .container2__img {
            flex: 0 0 33.33%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.container3 {

    background: #F4F4F4;
    display: flex;
    align-items: center;


    .container3__text {
        font-family: Montserrat;
        font-style: normal;
        margin-left: 93px;
        margin-right: 160px;

        .container3__text_begin {
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #2B2835;
        }

        .container3__text_header {
            font-weight: bold;
            font-size: 50px;
            line-height: 55px;
            color: #2B2835;
        }

        .container3__text_description {
            font-weight: normal;
            font-size: 14px;
            line-height: 27px;
            color: #030303;
        }

        .container3__text_price {
            display: flex;
            align-items: center;

            .price {
                font-weight: normal;
                font-size: 40px;
                line-height: 49px;
                color: #000000;
            }

            .round-btn4 {
                background: #000000;
                border-radius: 100px;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
                padding: 12px 15px;
                margin-left: 57px;
                border: none;
            }
        }
    }
}

@media (max-width:768px) {
    .container3 {
        flex-direction: column-reverse;

        .container3__img {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.product {

    margin-left: 100px;

    .product-row1 {
        display: flex;
    }

    .product-row2 {
        display: flex;
    }

    .product__slide {
        background: #F8F8F9;
        margin-right: 20px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .product__photo1 img {
        width: 232px;
        height: 315px;
        margin: 0 auto;
    }

    .product__photo2 img {
        width: 291px;
        height: 289px;
        margin: 0 auto;
    }

    .product__photo3 img {
        width: 242px;
        height: 264px;
        margin: 0 auto;
    }

    .product__photo4 img {
        width: 180px;
        height: 297px;
        margin: 0 auto;
    }

    .product__photo5 img {
        width: 244px;
        height: 320px;
        margin: 0 auto;
    }

    .product__photo6 img {
        width: 199px;
        height: 306px;
        margin: 0 auto;
    }

    .product__txt {
        margin: 0 20px;
        font-family: Montserrat;
        font-style: normal;
    }

    .product__name {
        font-weight: 500;
        font-size: 36px;
        line-height: 55px;
        color: #2B2835;
    }

    .product__header {
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #030303;
    }

    .product__price {
        display: flex;
        align-items: center;
    }

    .price {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        color: #9D8220;
    }

    .round-btn5 {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        background: #000000;
        border-radius: 100px;
        padding: 11px 30px 13px 36px;
        margin-left: 13px;
        border: none;
    }

    .round-btn5:hover {
        background-color: blue;
    }
}

@media (max-width:768px) {
    .product {
        margin-left: -50px;

        .product-row1 {
            flex-direction: column;
        }

        .product-row2 {
            flex-direction: column;
        }

        .product__slide_hide {
            display: none;
        }
    }
}

.connection {
    background: #F8F8F9;
    height: 334.81px;
    margin: 106px 95px 64px 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;

    &__header {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 55px;
        color: #2B2835;
        text-align: center;
    }

    &__info {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #030303;
        margin-bottom: 46px;
    }

    &__email {
        border: 1px solid #BFBFBF;
        box-sizing: border-box;
        border-radius: 18px;
        width: 100%;
        height: 36px;
        margin-bottom: 19px;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #030303;
        mix-blend-mode: normal;
        opacity: 0.31;
    }

    &__btn {
        background: #00B0FF;
        border-radius: 100px;
        box-sizing: border-box;
        width: 100%;
        padding: 12px 1px;
        border: none;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}