.wrapper1,
.wrapper2,
.wrapper4 {
    padding: 0 4%;
    font-family: Montserrat;

    ul {
        list-style-type: none;

        li {
            text-decoration: none;
        }
    }
}

// @media (max-width:768px){
//     main {
//         margin: 0 -90px;
//     }
// }
.container1 {
    display: flex;
    align-items: center;

    .wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__slider {
        .slide {
            width: 168px;
            height: 168px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .container1__image {
        position: relative;
        order: 1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        ul {
            list-style-type: none;

            li {
                text-decoration: none;
            }
        }
    }

    .container1__content1 {

        order: 2;

        .content__ovals {
            display: flex;
            align-items: center;

            .ovals__ov1 {
                width: 46px;
                height: 46px;
                border: 1px solid #000000;
                box-sizing: border-box;
                border-radius: 100px;
                margin-right: 14px;
                position: relative;

                .ovals__ov1_inside {
                    position: absolute;
                    width: 37px;
                    height: 37px;
                    background: #FFFFFF;
                    border: 1px solid #EAEAEA;
                    box-sizing: border-box;
                    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.135817);
                    border-radius: 100px;
                    margin: 3.2px 0 0 3.2px;
                }
            }

            .ovals__ov2 {
                width: 37px;
                height: 37px;
                background: #DD5656;
                border: 1px solid #EAEAEA;
                box-sizing: border-box;
                box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.135817);
                border-radius: 100px;
                margin-right: 13px;
            }

            .ovals__ov3 {
                width: 37px;
                height: 37px;
                background: #000000;
                border: 1px solid #EAEAEA;
                box-sizing: border-box;
                box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.135817);
                border-radius: 100px;
            }
        }

        .content__name {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #2B2835;
        }

        .content__header {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            line-height: 55px;
            color: #2B2835;
        }

        .content__available {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 55px;
            color: #2B2835;
        }

        .content__find {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #2B2835;
        }

        .content__price {
            display: flex;
            align-items: center;

            .price {
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 40px;
                line-height: 49px;
                color: #000000;
            }

            .round-btn2 {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
                margin-left: 43px;
                padding: 12px 48px;
                border: none;
                background: #000000;
                border-radius: 100px;
            }
        }

        .content__footer {
            color: #000000;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            mix-blend-mode: normal;
            opacity: 0.52;
        }
    }
}

@media (max-width:768px) {
    .container1 {
        flex-direction: column;

        .wrap {
            display: none;
        }
    }
}

.recommended {
    margin-bottom: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 55px;
    color: #2B2835;
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 2;
    .arrow-left,
    .arrow-right {
        background: #F8F8F9;
    }

    .product-row1 {
        display: flex;
    }

    .product__slide {
        background: #F8F8F9;
        margin: 0 10px 40px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        .product__txt {
            margin: 0 10px;
            font-family: Montserrat;
            font-style: normal;


            .product__name {
                font-weight: 500;
                font-size: 36px;
                line-height: 55px;
                color: #2B2835;
            }

            .product__header {
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                color: #030303;
            }

            .product__price {
                display: flex;
                align-items: center;
            }

            .price {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                line-height: 30px;
                color: #9D8220;
            }

            .round-btn5 {
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
                background: #000000;
                border-radius: 100px;
                padding: 11px 30px 13px 36px;
                margin-left: 13px;
                border: none;
            }

            .round-btn5:hover {
                background-color: blue;
            }
        }
    }
}

@media (max-width:768px) {
    .product {
        
        &__slide {
            
        }

        &__slide:not(:first-child) {
            display: none;
        }
    }
}

.tabs {
    display: flex;
    height: 40px;
    background: rgba(148, 146, 151, 0.15);
    align-items: center;

    li {
        margin: 0 30px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 55px;
        color: rgba(43, 40, 53, 0.5);
    }

    li:first-child {
        font-weight: bold;
        font-size: 18px;
        line-height: 55px;
        color: #2B2835;
    }
}

@media (max-width:768px) {
    .tabs {
        background: inherit;

        li:not(:first-child) {
            display: none;
        }

    }
}

.description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 130px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    &__video {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .play {
            position: absolute;
        }
    }
}