<!DOCTYPE html>
<html>

<head>
  <title>My homepage</title>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport"
    content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="page.css">
</head>

<body>

   <%= require('html-loader!../partials/nav.html') %> 
  
  <section class="container">
    <div class="container__image"></div>
    <div class='container__content1'>
      <div class="container__content1_description-name">
        <p>Beats Studio3 Wireless</p>
      </div>
      <div class="container__content1_description-content">
        <p>Experience your <br> music like never before.</p>
      </div>
      <div class="container__content1_description-price">
        <div class="price">
          <p>$299.95</p>
        </div>
        <button class="round-btn1">BUY NOW</button>
      </div>
      <div class="container__content1_description-footer">
        <p>$60 Apple Music gift card with purchase of select Beats products.*</p>
      </div>
    </div>
  </section>
  <section class="container1">
    <div class='container1__content1'>
      <p class="container1__content1_name">Portable Wireless Speaker</p>
      <p class="container1__content1_header">Beats Pill</p>
      <p class="container1__content1_available">Available Colors</p>
      <p class='container1__content1_find'>Find your Color</p>
      <div class="container1__content1_ovals">
        <div class="ovals__ov1">
          <div class="ovals__ov1_inside"></div>
        </div>
        <div class="ovals__ov2"></div>
        <div class="ovals__ov3"></div>
      </div>
      <div class="container1__content1_price">
        <div class="price">
          <p>$299.95</p>
        </div>

        <button class="round-btn2">BUY NOW</button>

      </div>
      <div class="container1__content1_footer">
        <p>$60 Apple Music gift card with purchase of select Beats products.*</p>
      </div>
    </div>
    <div class="container1__image">
    </div>
  </section>
  <section class="container2">
    <div class="container2__img"></div>
    <div class="container2__text">
      <p class="container2__text_begin">Totally wireless high-performance earphones</p>
      <p class="container2__text_header">Powerbeats Pro</p>
      <p class="container2__text_description">Up to 9 hours of listening time<br>
        Apple H1 Chip & Class 1 Wireless Bluetooth®<br>
        Sweat & water resistant<br>
        Adjustable, secure-fit earhooks</p>
      <div class="container2__text_price">
        <div class="price">
          <p>$199.95</p>
        </div>
        <button class="round-btn3">BUY NOW</button>
      </div>
      <p class="container2__text_footer">$60 Apple Music gift card with purchase of select Beats products.*</p>
    </div>
  </section>
  <section class="container3">
    <div class="container3__text">
      <p class="container3__text_begin">Talk. Listen. Beats.</p>
      <p class="container3__text_header">Beatsˣ</p>
      <p class="container3__text_description">Up to 8 hours of battery life<br>
        With Fast Fuel, a 5-minute charge = 2 hours of playback<br>
        Sweat & water resistant<br>
        Apple W1 Chip & Class 1 Wireless Bluetooth®</p>
      <div class="container3__text_price">
        <div class="price">
          <p>$199.95</p>
        </div>
        <button class="round-btn4">BUY NOW</button>
      </div>
    </div>
    <div class="container3__img"></div>
  </section>

  <section class="product">
    <div class="product__slide">
      <div class="product__photo1"></div>
      <div class="product__txt">
        <div class="product__name">
          <p>Beatsˣ</p>
        </div>
        <div class="product__header">
          <p>Up to 8 hours of battery life<br>
            With Fast Fuel, a 5-minute charge = 2 hours of playback</p>
        </div>
        <div class=" product__footer">
          <div class="product__price ">
            <p class="price">$199.95</p>
          </div>
          <div class="product__button">
            <button class="round-btn5">BUY NOW</button>
          </div>
        </div>
      </div>
    </div>
    <div class="product__slide">2</div>
    <div class="product__slide">3</div>
    <div class="product__slide">4</div>
    <div class="product__slide">5</div>
    <div class="product__slide">6</div>
    <div class="product__slide">7</div>
    <div class="product__slide">8</div>
  </section>
  </div>
  <div class="connection">
    <h1 class="connection__header">
      Hear it first
    </h1>
    <p class="connection__info">
      Get updates on product drops, collaborations and all things Beats.</p>

    <input type="search" value="Enter your email" class="connection__email">
    <input type="submit" value="Sign up" class="connection__btn">

  </div>
  <footer class="footer">
    <div class="main">
      <div class="menu__logo">
        <div class=" logo-inside"></div>
      </div>
      <div class="footer__products">
        <ul>
          <li><span>
            Products</span>
          </li>
          <li><a href="#">Headphones</a></li>
          <li><a href="#">Earphones</a></li>
          <li><a href="#">Speakers</a></li>
          <li><a href="#">Accesorries</a></li>
          <li><a href="#">Collaborations</a></li>
          <li><a href="#">Bestaudio</a></li>
          <li><a href="#">Special offers</a></li>
        </ul>
      </div>
      <div class="footer__support">
        <ul>
          <li><span>
            Support</span>
          </li>
          <li><a href="#">product help</a></li>
          <li><a href="#">service & warranty</a></li>
          <li><a href="#">register your beats</a></li>
          <li><a href="#">update your beats</a></li>
          <li><a href="#">authorized service providers</a></li>
          <li><a href="#">contact support</a></li>
          <li><a href="#">international numbers</a></li>
        </ul>
      </div>
      <div class="footer__company">
        <ul>
          <li ><span>
            Company</span>
          </li>          
          <li><a href="#">product help</a></li>
          <li><a href="#">news and events</a></li>
          <li><a href="#">promotion terms</a></li>
          <li><a href="#">privacy policy</a></li>
          <li><a href="#">trademark</a></li>
          <li><a href="#">terms of use</a></li>
          <li><a href="#">cookies</a></li>
        </ul>
      </div>

      <div class="footer__follow">
        <p>Follow us</p>
      </div>
    </div>
    <div class="footer__info">
      <span>Copyright © 2020 Apple Inc. - All rights reserved.</span>
    </div>
  </footer>



  <!--<%= require('html-loader!../partials/footer.html') %> -->
</body>

</html>
