<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport"
    content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body>

  <%= require('html-loader!../partials/nav.html') %>
  <section class="wrapper1">
    <section class="container1">
      <div class="wrap">
        <img src="/src/images/top.png">
        <div class="container1__slider">
          <div class="slide"><img src="/src/images/image8m.png"></div>
          <div class="slide"><img src="/src/images/image9m.png"></div>
          <div class="slide"><img src="/src/images/image10m.png"></div>
          <!-- <div class="slide"><img src="/src/images/image11m.png"></div>
        <div class="slide"><img src="/src/images/image12m.png"></div>
        <div class="slide"><img src="/src/images/image13m.png"></div>
        <div class="slide"><img src="/src/images/image14m.png"></div> -->
        </div>
        <img src="/src/images/bottom.png">
      </div>
      <div class='container1__content1'>
        <p class="content__name">Portable Wireless Speaker</p>
        <p class="content__header">Beats Pill+</p>
        <p class="content__available">Available Colors</p>
        <p class='content__find'>Find your Color</p>
        <ul class="content__ovals">
          <li class="ovals__ov1">
            <div class="ovals__ov1_inside"></div>
          </li>
          <li class="ovals__ov2"></li>
          <li class="ovals__ov3"></li>
        </ul>
        <div class="content__price">
          <div class="price">
            <p>$299.95</p>
          </div>
          <button class="round-btn2">BUY NOW</button>
        </div>
        <div class="content__footer">
          <p>$60 Apple Music gift card with purchase of select Beats products.*</p>
        </div>
      </div>
      <div class="container1__image">
        <img src="/src/images/Bitmap.png">
      </div>
    </section>
  </section>
  <section class="wrapper2">
    <div class="recommended">Recommended</div>
  </section>
  <section class="wrapper3">
    <div class="product">
      <div class="arrow-left"><img src="/src/images/arrow1.png"></div>
      <div class="product-row1">
        <div class="product__slide">
          <div class="product__photo1"><img src="/src/images/picture1.png"></div>
          <div class="product__txt">
            <div class="product__name">
              <p>Beatsˣ</p>
            </div>
            <div class="product__header">
              <p>Up to 8 hours of battery life<br>
                With Fast Fuel, a 5-minute charge =
                <br> 2 hours of playback</p>
            </div>
            <div class="product__price ">
              <p class="price">$199.95</p>
              <button class="round-btn5">BUY NOW</button>
            </div>
          </div>
        </div>
        <div class="product__slide">
          <div class="product__photo2"><img src="/src/images/picture2.png"></div>
          <div class="product__txt">
            <div class="product__name">
              <p>Beatsˣ</p>
            </div>
            <div class="product__header">
              <p>Up to 8 hours of battery life<br>
                With Fast Fuel, a 5-minute charge =<br>
                2 hours of playback</p>
            </div>
            <div class="product__price ">
              <p class="price">$199.95</p>
              <button class="round-btn5">BUY NOW</button>
            </div>
          </div>
        </div>
        <div class="product__slide">
          <div class="product__photo3"><img src="/src/images/picture3.png"></div>
          <div class="product__txt">
            <div class="product__name">
              <p>Beatsˣ</p>
            </div>
            <div class="product__header">
              <p>Up to 8 hours of battery life<br>
                With Fast Fuel, a 5-minute charge =<br>
                2 hours of playback</p>
            </div>
            <div class="product__price ">
              <p class="price">$199.95</p>
              <button class="round-btn5">BUY NOW</button>
            </div>
          </div>
        </div>
        <div class="product__slide">
          <div class="product__photo4"><img src="/src/images/picture4.png"></div>
          <div class="product__txt">
            <div class="product__name">
              <p>Beatsˣ</p>
            </div>
            <div class="product__header">
              <p>Up to 8 hours of battery life<br>
                With Fast Fuel, a 5-minute charge =<br>
                2 hours of playback</p>
            </div>
            <div class="product__price ">
              <p class="price">$199.95</p>
              <button class="round-btn5">BUY NOW</button>
            </div>
          </div>
        </div>
        <!-- <div class="product__slide">
          <div class="product__photo5"><img src="/src/images/picture5.png"></div>
          <div class="product__txt">
            <div class="product__name">
              <p>Beatsˣ</p>
            </div>
            <div class="product__header">
              <p>Up to 8 hours of battery life<br>
                With Fast Fuel, a 5-minute charge = 2 hours of playback</p>
            </div>
            <div class="product__price ">
              <p class="price">$199.95</p>
              <button class="round-btn5">BUY NOW</button>
            </div>
          </div>
        </div>
        <div class="product__slide">
          <div class="product__photo6"><img src="/src/images/picture6.png"></div>
          <div class="product__txt">
            <div class="product__name">
              <p>Beatsˣ</p>
            </div>
            <div class="product__header">
              <p>Up to 8 hours of battery life<br>
                With Fast Fuel, a 5-minute charge = 2 hours of playback</p>
            </div>
            <div class="product__price ">
              <p class="price">$199.95</p>
              <button class="round-btn5">BUY NOW</button>
            </div>
          </div>
        </div>
        <div class="product__slide product__slide_hide">
          <div class="product__photo2"><img src="/src/images/picture2.png"></div>
          <div class="product__txt">
            <div class="product__name">
              <p>Beatsˣ</p>
            </div>
            <div class="product__header">
              <p>Up to 8 hours of battery life<br>
                With Fast Fuel, a 5-minute charge = 2 hours of playback</p>
            </div>
            <div class="product__price ">
              <p class="price">$199.95</p>
              <button class="round-btn5">BUY NOW</button>
            </div>
          </div>
        </div>
        <div class="product__slide product__slide_hide">
          <div class="product__photo6"><img src="/src/images/picture6.png"></div>
          <div class="product__txt">
            <div class="product__name">
              <p>Beatsˣ</p>
            </div>
            <div class="product__header">
              <p>Up to 8 hours of battery life<br>
                With Fast Fuel, a 5-minute charge = 2 hours of playback</p>
            </div>
            <div class="product__price ">
              <p class="price">$199.95</p>
              <button class="round-btn5">BUY NOW</button>
            </div>
          </div>
        </div> -->
      </div>
      <div class="arrow-right"><img src="/src/images/arrow2.png"></div>
    </div>
  </section>
  <section class="wrapper4">
    <ul class="tabs">
      <li>Description</li>
      <li>Characteristics</li>
      <li>Reviews</li>
    </ul>
    <section class="description">
      <div class="description__txt">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est
          laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est
          laborum.</p>
      </div>
      <div class="description__video">
        <img src="/src/images/video.png">
        <div class="play">
          <img src="/src/images/play-btn.png">
        </div>
      </div>
    </section>
  </section>

  <%= require('html-loader!../partials/footer.html') %>
</body>

</html>
